$primary-light: #fff;
$primary-black: #25292D;
$banner-bg: #27282C;
$black_1: #3D3D3D;
$black_2: #6A6A6A;
$black_3: #A8A8A8;
$black_4: #D1D4DC;
$gray_3: #E8E9EB;
$gray_4: #F2F3F4;
$gray_5: #F9FAFC;
$gray_6: #F9F9F9;
$gray_icons: #A7A7A9;
$blue_2: #0071CE;
$blue_5: #1C98FF;
$accent_2: #17BA5F;
$accent_3: #FFD200;
$purple_1: #C288FF;

$breakPoint-1415: 1415px;
$breakPoint-992: 992px;
$breakPoint-767: 767px;
$breakPoint-575: 575px;

@mixin h4-title($color) {
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: $color;
}

@mixin font-set($font-size, $line-height, $font-weight) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    background-color: $primary-light;
    font-family: 'Fira Sans', sans-serif;
    padding-top: 72px;
}

a {
    text-decoration: none;
}

.container {
    width: 1410px;
    margin: 0 auto;
}

.header {
    background: $primary-black;
    height: 72px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
}

.logo {
    height: auto;
}

.menu {
    display: flex;
    align-items: center;

    &__navigation {
        display: flex;
        margin: 0;
        padding-left: 0;
    }

    &__item {
        list-style: none;
        margin-right: 41px;
        opacity: .6;
        @include font-set(16px, 28px, 400);
        color: $primary-light;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            opacity: 1;
        }

        a {
            text-decoration: none;
            color: $primary-light;
        }
    }

    &__optional {
        display: flex;
        align-items: center;
    }
}

.search {
    display: flex;
    height: 26px;
    float: right;
    padding: 0;
    position: relative;
    padding-left: 50px;
    opacity: 1;
    background-color: $primary-black;

    &::before {
        content: "";
        padding-left: 13vw;
    }
}

.search-text {
    height: 26px;
    font-size: 16px;
    display: inline-block;
    border: none;
    outline: none;
    padding: 0 30px 5px 0;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
    color: $primary-light;

    &:focus:hover {
        border-bottom: 1px solid $gray_3;
        background-color: $primary-black;
    }

    &:focus {
        width: 200px;
        z-index: 1;
        border-bottom: 1px solid $gray_3;
        cursor: text;
        background-color: $primary-black;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px $primary-black inset !important;
        background-color: $primary-black;
    }

    &::first-line {
        color: $primary-light;
    }

}

.search-btn {
    background-image: url(./../images/search.svg);
    display: block;
    width: 18px;
    height: 18px;
    float: right;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 2;
    cursor: pointer;
    transition: opacity .4s ease;

    &:hover {
        opacity: 1;
    }
}

.shopping-cart {
    background-image: url(./../images/shoping-cart.svg);
    width: 24px;
    height: 18px;
    position: relative;
    opacity: 1;
    cursor: pointer;

    &__amount {
        position: absolute;
        @include font-set(12px, 12px, 500);
        top: -8px;
        right: -8px;
        background: $blue_5;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.user {
    margin-right: 0;
}

.mob-menu {
    display: none;

    .nav-bar {
        position: absolute;
        background-color: $banner-bg;
        top: 72px;
        right: 100%;
        height: 100vh;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        transition: position 2.9s;
        -webkit-transition: position 2.9s;
        -moz-transition: position 2.9s;
        -ms-transition: position 2.9s;
        -o-transition: position 2.9s;
    }

    .toggle {
        left: 0;

        .line1 {
            background-color: $primary-light;
            transform: scale(0.9) rotateZ(-45deg) translate(-9px, 4px);
        }

        .line2 {
            display: none;
        }

        .line3 {
            background-color: $primary-light;
            transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
        }
    }

    .toggle-menu {
        background-color: transparent;
        position: fixed;
        opacity: .6;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2px 2px 2px 3px;
        border-radius: 5px;
        cursor: pointer;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    .line {
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background-color: #fff;
        transition: transform 0.2s ease-out;
        -webkit-transition: transform 0.2s ease-out;
        -moz-transition: transform 0.2s ease-out;
        -ms-transition: transform 0.2s ease-out;
        -o-transition: transform 0.2s ease-out;
    }

    .mob-menu_list {
        padding-left: 0;

        .mob-menu_search {
            display: flex;
            margin-bottom: 10px;

            .mob-menu_search__input {
                width: 100%;
                background-color: transparent;
                @include font-set(16px, 18px, 400);
                color: $accent_3;
                border: 1px solid $accent_3;
                transition: all 250ms ease-in-out;
                transform-style: preserve-3d;
                padding: 12px 0 12px 12px;
                outline: 0;

                &::placeholder {
                    color: $gray_4;
                }
            }

            .mob-menu__search-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $accent_3;
                border: 1px solid $accent_3;
                padding: 10px;
                background-color: $black_2;

                &:hover {
                    background-color: $black_1;
                }
            }
        }
    }

}

.banner {
    background: $banner-bg;

    .container {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__subtitle {
        @include font-set(18px, 30px, 300);
        color: $primary-light;
        opacity: 0.8;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 32px;
    }

    &__mark {
        text-transform: uppercase;
        color: $accent_3;
        position: absolute;
        z-index: 2;
        padding: 7px 13px;
        @include font-set(15px, 18px, 500);
        letter-spacing: 0.08em;
        top: 92px;
        left: 560px;

        &::before {
            content: "";
            display: block;
            width: 218px;
            position: absolute;
            height: 31px;
            transform: skew(-25deg);
            background: $accent_3;
            opacity: 0.1;
            z-index: 1;
            top: 0;
            left: 0;
        }
    }

    &__info {
        margin-top: 78px;
    }

    &__top-text {
        @include h4-title($purple_1);
    }

    &__title {
        @include font-set(54px, 52px, 300);
        color: $primary-light;
        margin-bottom: 15px;
        margin-top: 15px;

        span {
            font-weight: 500;
        }
    }

    &__img {
        width: 540px;
        height: 400px;
    }

    &__btns {
        display: flex;
    }
}

.btn {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    @include font-set(14px, 17px, 500);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
}

.bg-blue2 {
    background-color: $blue_2;
    color: $primary-light;
}

.download {
    width: 130px;
}

.bg-transparent {
    background-color: transparent;
}

.buy {
    width: 130px;
    border: 1.5px solid rgba(255, 255, 255, 0.25);
    color: $primary-light;
    box-sizing: border-box;
    margin-left: 20px;
}

.section-line {
    background: $primary-light;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);

    .container {
        display: flex;
        align-items: center;
        height: 76px;
    }

    &__text {
        color: #3C3C3C;
        @include font-set(22px, 25px, 500);
        margin-left: 15px;
        margin-right: auto;
    }

    .btn {
        width: 135px;
        height: 38px;
        background-color: $accent_2;
        color: $primary-light;
    }
}

.section1 {
    .container {
        display: flex;
        justify-content: space-between;
        padding: 88px 0 102px;
    }

    &__left {
        width: 46%;
    }

    &__title {
        @include font-set(46px, 64px, 300);
        color: $black_1;
    }

    &__info {
        @include font-set(18px, 32px, 400);
        color: $black_2;
        margin-top: 33px;
        margin-bottom: 0;
        font-family: 'Open Sans', sans-serif;

        &:last-of-type {
            margin-top: 23px;
            margin-bottom: 42px;
        }
    }

    &__btns {
        display: flex;
    }

    &__right {
        width: 49%;
        margin-top: 5px;
    }

    .btn {
        span {
            margin-left: 10px;
        }
    }
}

.watch-btn {
    width: 320px;
    margin-right: 20px;
}

.read-btn {
    width: 201px;
    border: 1px solid #D1D4DC;
    color: $blue_2;
}

.collapse {
    &__title {
        background-color: transparent;
        border: none;
        border-top: 1px solid $gray_4;
        color: $black_1;
        cursor: pointer;
        padding: 21px 36px 21px 16px;
        width: 100%;
        height: auto;
        outline: none;
        @include font-set(18px, 24px, 500);
        position: relative;
        display: flex;
        align-items: center;
        text-align: left;
        min-height: 71px;

        &::after {
            content: "";
            background: url(./../images/icon_arrow_right.svg);
            width: 24px;
            height: 24px;
            display: block;
            position: absolute;
            top: calc((100% - 24px) / 2);
            right: 3px;
        }

        &:last-of-type {
            border-bottom: 1px solid $gray_4;
        }

    }

    &__marker {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-left: 12px;
        margin-top: -3px;
        width: 43px;
        height: 24px;
        background: #FF3039;
        border-radius: 3px;
        @include font-set(13px, 20px, 500);
        text-transform: uppercase;
        color: $primary-light;
    }

    &__content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: $gray_6;
        @include font-set(16px, 29px, 400);
        color: $black_2;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;

        p {
            padding: 14px 26px 15px 24px;
            margin: 0;

        }
    }
}

.active {
    &::after {
        content: "";
        background: url(./../images/icon_arrow_right.svg);
        transform: rotate(180deg);
    }
}

.videos {
    background: $gray_5;
    padding: 96px 0 110px;
}

.section-title {
    @include font-set(36px, 50px, 300);
    color: $black_1;
}

.tab-buttons {
    margin-top: 42px;
    height: 64px;
    display: flex;
    position: relative;

    &::after {
        content: "";
        height: 3px;
        width: 100%;
        background: #DADEE6;
        position: absolute;
        bottom: -3px;
    }
}

.tablink {
    @include font-set(16px, 19px, 500);
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-right: 41px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    color: $black_3;
    position: relative;

    img {
        margin-right: 10px;
        opacity: .5;
    }

    &:hover {
        color: $black_1;

        img {
            opacity: 1;
        }
    }

    &_active {
        color: $black_1;

        img {
            opacity: 1;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            display: block;
            background: $blue_2;
            bottom: -3px;
            z-index: 2;

        }
    }
}

.tab-content {
    margin-top: 53px;
    display: flex;
    justify-content: space-between;

    &__left {
        width: 53%;
    }

    &__title {
        @include font-set(26px, 32px, 400);
        color: $black_1;
    }

    &__info {
        margin: 14px 0 0;
        @include font-set(16px, 28px, 400);
        color: $black_2;
        font-family: 'Open Sans', sans-serif;
    }

    &__right {
        width: auto;
    }
}

.btn-learn-more {
    width: 114px;
    line-height: 22px;
    height: 25px;
    margin-top: 16px;
    color: $blue_2;

    span {
        margin-right: 6px;
    }
}

.code {
    padding: 86px 0 102px;

    .section-title {
        text-align: center;
        margin-bottom: 50px;
    }
}

.information {
    display: flex;
    justify-content: space-between;
}

.left-col {
    width: 20%;
    max-width: 270px;
    min-width: 170px;

    &__title {
        @include h4-title($black_1);
        margin-bottom: 21px;
    }
}

.vertical-tab-buttons {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 29px;

    &::before {
        content: "";
        width: 2px;
        height: 100%;
        position: absolute;
        background: $gray_3;
        left: 0;
    }
}

.vertical-tablink {
    @include font-set(18px, 30px, 400);
    color: $black_3;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;

    &_active {
        position: relative;
        color: $black_1;

        &::before {
            content: "";
            width: 2px;
            height: 100%;
            position: absolute;
            background: #007FE8;
            left: -29px;
        }

    }

    &:hover {
        color: $black_1;
    }
}

.right-col {
    width: 74.5%;
}

.vertical-tab-content {
    width: fit-content;
    margin: 0 auto;

    img {
        border: 1px solid $gray_3;
        box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.15);
    }
}

.before-after {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    @include font-set(18px, 24px, 500);
    color: $black_3;

    span:first-child {
        color: $black_1
    }
}

.partners {
    padding: 84px 0 105px;
    background: $gray_5;

    &__block {
        margin-top: 37px;
        display: flex;
        flex-wrap: wrap;
        gap: 55px 90px;
    }
}

.help {
    padding: 100px 0 91px;

    .container {
        display: flex;
        gap: 30px;
    }
}

.actions-blocks {
    max-width: 810px;
}

.item {
    background: #FBFCFD;
    border: 1px solid $gray_4;
    display: flex;
    gap: 40px;
    padding: 39px 60px 45px 39px;

    &:first-child {
        margin-bottom: 20px;
    }

    &_title {
        @include h4-title($black_1);
        margin-bottom: 3px;
    }

    &__desc {
        @include font-set(16px, 28px, 400);
        font-family: 'Open Sans', sans-serif;
        color: $black_2;
        margin: 0 0 15px
    }

    .btn {
        width: 170px;
    }

    .inline-btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 24px;
        width: auto;
        @include font-set(16px, 28px, 400);
        font-family: 'Open Sans', sans-serif;
        color: $blue_2;

        &:first-of-type {
            margin-right: 36px;
        }

        img {
            margin-right: 10px;
        }
    }
}

.discount {
    background: $blue_2;
    padding: 42px 41px 38px 39px;
    width: 570px;
    box-sizing: border-box;

    &_info {
        @include font-set(18px, 32px, 400);
        font-family: 'Open Sans', sans-serif;
        color: $primary-light;
        margin: 14px 0;
    }

    &__title {
        @include font-set(36px, 50px, 500);
        color: $primary-light;
        margin-top: 31px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
}

.price {
    @include font-set(22px, 32px, 400);
    color: $accent_3;

    span {
        @include font-set(46px, 64px, 500);
        margin-left: 18px;
    }
}

.discount-btn {
    background: $primary-light;
    color: $black_1;
    width: 163px;
}

.slider-section {
    background: $gray_6;
    padding: 90px 0;

    .container {
        position: relative;
    }

    .section-title {
        margin-bottom: 47px;
    }

}

.slide {
    flex-direction: column;
    padding-top: 210px;

    &__img {
        position: absolute;
        top: 0;
        left: 0;
        height: 210px;
        object-fit: cover;
    }

    &__title {
        @include font-set(18px, 24px, 500);
        color: $black_1;
        margin-top: 26px
    }

    &__desc {
        @include font-set(16px, 28px, 400);
        font-family: 'Open Sans', sans-serif;
        margin-top: 2px;
        padding-right: 60px;
        margin-bottom: 14px;
    }

    &__btn {
        display: flex;
        align-items: center;
        width: 251px;
        height: 36px;
        background: $gray_6;
        border: 1px solid $gray_4;
        margin-top: 20px;
        @include font-set(14px, 25px, 600);
        font-family: 'Open Sans', sans-serif;
        color: $black_1;

        img {
            margin-left: 2px
        }
    }
}

.slider-nav-block {
    position: absolute;
    top: 8px;
    right: 0;
    width: 165px;
    height: 40px;
    display: flex;
}

.swiper-button-next,
.swiper-button-prev {
    border: 1px solid $gray_3;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: unset;
    box-sizing: border-box;
    margin: 0;

    &::after {
        content: none;
    }

}

.swiper-pagination {
    position: unset;
    width: 85px;
    display: flex;
    justify-content: center;
    margin-top: 11px;
    @include font-set(18px, 22px, 400);
    color: $black_2;
}

.footer {
    background-color: #222227;

    .container {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include font-set(13px, 24px, 400);
        font-family: 'Open Sans', sans-serif;
        color: $primary-light;
        position: relative;

        button {
            display: flex;
            color: $primary-light;
            padding: 0;
            background: transparent;
            border: none;
            align-items: center;
            cursor: pointer;

            span {
                opacity: 0.6;
                margin-right: 10px;
            }
        }
    }

    &__mid {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: $breakPoint-1415) and (min-width: $breakPoint-992) {
    .container {
        width: 980px;
    }

    .header {
        width: 100vw;
    }

    .banner {
        &__subtitle {
            @include font-set(16px, 26px, 300);
            margin-bottom: 22px;
        }

        &__mark {
            top: 80px;
            left: 340px;
        }

        &__info {
            margin-top: 48px;
        }


        &__title {
            @include font-set(48px, 50px, 300);
            margin-bottom: 10px;
            margin-top: 20px;
        }
    }

    .section1 {
        .container {
            padding: 58px 0 52px;
        }

        &__title {
            @include font-set(33px, 54px, 300);
        }

        &__info {
            @include font-set(17px, 27px, 400);
            margin-top: 20px;

            &:last-of-type {
                margin-top: 20px;
                margin-bottom: 22px;
            }
        }

        .btn {
            font-size: 13px;
            letter-spacing: 0.06px;
        }
    }

    .watch-btn {
        margin-right: 15px;
    }

    .collapse {
        &__title {
            @include font-set(16px, 22px, 500);
        }

        &__content {
            @include font-set(16px, 26px, 400);
        }
    }

    .videos {
        padding: 46px 0 60px;
    }

    .tab-buttons {
        margin-top: 27px;
    }

    .tab-content {
        margin-top: 33px;

        &__left {
            width: 52%;
        }

        &__info {
            margin: 10px 0 0;
            @include font-set(15px, 24px, 400);
        }

        &__right {
            width: 46%;

            img {
                width: 100%;
            }
        }
    }

    .code {
        padding: 46px 0 50px;

        .section-title {
            margin-bottom: 30px;
        }
    }


    .right-col {
        width: 74.5%;
    }

    .vertical-tab-content {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .partners {
        padding: 44px 0 55px;

        &__block {
            margin-top: 27px;
            gap: 35px 45px;
        }
    }

    .help {
        padding: 50px 0 51px;

        .container {
            gap: 20px;
        }
    }

    .actions-blocks {
        min-width: 52%;
    }

    .item {
        gap: 20px;
        padding: 30px 40px 25px 30px;

        &__desc {
            @include font-set(16px, 26px, 400);
        }

        .inline-btn {
            margin-bottom: 10px;
        }
    }

    .discount {
        padding: 40px 30px;
        width: auto;

        &__title {
            @include font-set(32px, 50px, 500);
            margin-top: 31px;
        }

        &_info {
            margin: 18px 0;
        }

        &__bottom {
            margin-top: 30px;
            align-items: flex-end;
        }
    }

    .price {
        display: flex;
        flex-direction: column;

        span {
            margin-left: 0;
        }
    }

    .slider-section {
        padding: 50px 0;

        .section-title {
            margin-bottom: 27px;
        }
    }

    .slide {
        padding-top: 180px;

        &__img {
            object-fit: contain;
            width: 100%;
        }

        &__title {
            margin-top: 16px
        }

        &__desc {
            height: 70px;
            padding-right: 20px;
        }
    }
}

@media (max-width: $breakPoint-992) and (min-width: $breakPoint-767) {
    .container {
        width: 760px;
    }

    .header {
        width: 100vw;
        height: 72px;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

        .mob-menu {
            display: block;
        }
    }

    .menu {
        &__navigation {
            display: none;
        }

        &__optional {
            display: flex;
            align-items: center;
        }
    }

    .shopping-cart {
        margin-right: 80px;
    }

    .search {
        display: none;
    }

    .language {
        display: none;
    }

    .user {
        display: none;
    }

    .banner {
        padding: 10px 0;

        &__subtitle {
            @include font-set(16px, 26px, 300);
            margin-bottom: 12px;
        }

        &__mark {
            top: 14px;
            left: 330px;
        }

        &__info {
            margin-top: 10px;
        }

        &__top-text {
            font-size: 18px
        }

        &__title {
            @include font-set(44px, 42px, 300);
            margin-bottom: 5px;
            margin-top: 5px;
        }

        &__img {
            width: 340px;
            height: fit-content;

            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .section1 {
        .container {
            padding: 20px 0 20px;
        }

        &__title {
            @include font-set(28px, 34px, 300);

            br {
                display: none;
            }
        }

        &__info {
            @include font-set(16px, 24px, 400);
            margin-top: 15px;
            text-align: justify;

            &:last-of-type {
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }

        &__btns {
            flex-direction: column;
            gap: 15px;
        }

    }

    .collapse {
        &__title {
            @include font-set(15px, 22px, 500);
        }

        &__content {
            @include font-set(16px, 25px, 400);
        }
    }

    .videos {
        padding: 20px 0;
    }

    .section-title {
        @include font-set(28px, 44px, 300);
    }

    .tab-buttons {
        margin-top: 20px;
        justify-content: space-between
    }

    .tablink {
        @include font-set(15px, 19px, 500);
        letter-spacing: 0.04em;
        margin-right: 0;
    }

    .tab-content {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        &__left {
            width: 58%;
        }

        &__title {
            @include font-set(22px, 26px, 400);
        }

        &__info {
            margin: 10px 0 0;
            @include font-set(14px, 24px, 400);
        }

        &__right {
            width: 40%;
            display: flex;
            align-items: center;

            img {
                width: 100%;
            }
        }
    }

    .code {
        padding: 20px 0;
    }

    .vertical-tab-buttons {
        padding-left: 19px;
    }

    .vertical-tablink {
        &_active {
            &::before {
                left: -19px;
            }
        }
    }

    .vertical-tab-content {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .before-after {
        margin-top: 10px;
        color: $black_3;

        span:nth-child(2) {
            display: none;
        }
    }

    .partners {
        padding: 20px 0;

        &__block {
            margin-top: 20px;
            gap: 20px 63px;
        }
    }

    .help {
        padding: 20px 0;

        .container {
            gap: 20px;
            flex-direction: column;
        }
    }

    .discount {
        background: $blue_2;
        padding: 42px 41px 38px 39px;
        width: 100%;
        box-sizing: border-box;

        &_info {
            @include font-set(18px, 32px, 400);
            font-family: 'Open Sans', sans-serif;
            color: $primary-light;
            margin: 14px 0;
        }

        &__img {
            width: fit-content;
            float: left;
            margin-top: 20px;
        }

        &__title {
            margin-top: 0;
            margin-left: 20px;
            display: inline-block;
            width: 80%;

            br {
                display: none;
            }
        }
    }

    .slider-section {
        padding: 20px 0;

        .section-title {
            margin-bottom: 20px;
        }

    }

    .slide {
        padding-top: 110px;

        &__img {
            width: 100%;
            object-fit: contain;
            height: auto
        }

        &__title {
            margin-top: 15px
        }

        &__desc {
            @include font-set(14px, 22px, 400);
            padding-right: 20px;
            height: 90px;
        }

        &__btn {
            width: 100%;
            @include font-set(13px, 25px, 600);
        }
    }
}

@media (max-width: $breakPoint-767) and (min-width: $breakPoint-575) {
    .container {
        width: 555px;
    }

    .header {
        width: 100vw;
        height: 72px;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

        .mob-menu {
            display: block;
        }
    }

    .menu {
        &__navigation {
            display: none;
        }

        &__optional {
            display: flex;
            align-items: center;
        }
    }

    .shopping-cart {
        margin-right: 80px;
    }

    .search {
        display: none;
    }

    .language {
        display: none;
    }

    .user {
        display: none;
    }

    .banner {
        padding: 10px 0 20px;

        &__subtitle {
            @include font-set(14px, 24px, 300);
            margin-bottom: 12px;
        }

        &__mark {
            padding: 3px 13px;
            @include font-set(13px, 16px, 500);
            letter-spacing: 0.02em;
            top: 30px;
            left: 210px;

            &::before {
                width: 180px;
                height: 23px;
            }
        }

        &__info {
            margin-top: 10px;
        }

        &__top-text {
            font-size: 16px;
            line-height: 24px;
        }

        &__title {
            @include font-set(38px, 36px, 300);
            margin-bottom: 5px;
            margin-top: 5px;
        }

        &__img {
            width: 300px;
            height: fit-content;
            margin-top: 20px;

            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .section1 {
        .container {
            padding: 20px 0;
        }

        &__title {
            @include font-set(24px, 30px, 300);

            br {
                display: none;
            }
        }

        &__info {
            @include font-set(16px, 24px, 400);
            margin-top: 15px;
            text-align: justify;

            &:last-of-type {
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }

        &__btns {
            flex-direction: column;
            gap: 15px;

            .btn {
                letter-spacing: 0.02px;
                font-size: 13px;
            }
        }

        .watch-btn {
            width: 100%
        }

    }

    .collapse {
        &__title {
            @include font-set(14px, 22px, 500);
        }

        &__content {
            @include font-set(15px, 23px, 400);
            text-align: justify;
        }
    }

    .videos {
        padding: 20px 0;
    }

    .section-title {
        @include font-set(26px, 44px, 300);
    }

    .tab-buttons {
        margin-top: 20px;
        justify-content: space-between;
        gap: 10px
    }

    .tablink {
        @include font-set(14px, 17px, 500);
        letter-spacing: 0.04em;
        margin-right: 0;

        span {
            text-align: left;
        }
    }

    .tab-content {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        &__left {
            width: 55%;
        }

        &__title {
            @include font-set(22px, 26px, 400);
        }

        &__info {
            margin: 10px 0 0;
            @include font-set(14px, 24px, 400);
            text-align: justify;
        }

        &__right {
            width: 44%;
            display: flex;
            align-items: center;

            img {
                width: 100%;
            }
        }
    }

    .code {
        padding: 20px 0;
    }

    .left-col__title {
        font-size: 18px;
        ;
        line-height: 26px;
    }

    .vertical-tab-buttons {
        padding-left: 10px;
    }

    .vertical-tablink {
        font-size: 16px;
        line-height: 26px;
        height: 40px;
        cursor: pointer;

        &_active {
            &::before {
                left: -10px;
            }
        }
    }

    .vertical-tab-content {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .before-after {
        margin-top: 10px;
        font-size: 16px;

        span:nth-child(2) {
            display: none;
        }
    }

    .partners {
        padding: 20px 0;

        &__block {
            margin-top: 20px;
            gap: 20px 133px;
        }
    }

    .help {
        padding: 20px 0;

        .container {
            gap: 20px;
            flex-direction: column;

            .inline-btn {
                margin-bottom: 10px;
            }
        }
    }

    .discount {
        background: $blue_2;
        padding: 42px 41px 38px 39px;
        width: 100%;
        box-sizing: border-box;

        &_info {
            @include font-set(18px, 32px, 400);
            margin: 14px 0;
        }

        &__img {
            width: fit-content;
            float: left;
            margin-top: 20px;
        }

        &__title {
            margin-top: 0;
            margin-left: 20px;
            display: inline-block;
            width: 80%;
            font-size: 30px;

            br {
                display: none;
            }
        }
    }

    .slider-section {
        padding: 20px 0;

        .section-title {
            margin-bottom: 20px;
        }

    }

    .slide {
        padding-top: 120px;

        &__img {
            width: 100%;
            object-fit: contain;
            height: auto
        }

        &__title {
            margin-top: 15px
        }

        &__desc {
            @include font-set(14px, 22px, 400);
            padding-right: 20px;
            height: 70px;
        }

        &__btn {
            width: 100%;
            @include font-set(13px, 25px, 600);
        }
    }

    .footer {
        .container {
            button {
                position: fixed;
                bottom: 10px;
                right: 10px;
                background-color: $black_1;
                z-index: 90;
                padding: 10px;
                border-radius: 50%;

                span {
                    display: none;
                    opacity: 1;
                    margin-right: 10px;
                }
            }
        }

        &__mid {
            position: unset;
            transform: translate(0, 0);
        }
    }
}

@media (max-width: $breakPoint-575) {
    .container {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .header {
        width: 100vw;
        height: 72px;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

        .mob-menu {
            display: block;
        }
    }

    .menu {
        &__navigation {
            display: none;
        }

        &__optional {
            display: flex;
            align-items: center;
        }
    }

    .shopping-cart {
        margin-right: 80px;
    }

    .search {
        display: none;
    }

    .language {
        display: none;
    }

    .user {
        display: none;
    }

    .banner {
        padding: 0px 0 20px;
        overflow: hidden;

        &__subtitle {
            @include font-set(14px, 24px, 300);
            margin: 0 auto;
            margin-bottom: 12px;
            text-align: center;
            width: 200px;
        }

        &__mark {
            padding: 3px 13px;
            @include font-set(13px, 16px, 500);
            letter-spacing: 0.02em;
            top: 30px;
            left: 90px;

            &::before {
                width: 180px;
                height: 23px;
            }
        }

        &__info {
            width: 100%;
            margin-top: 10px;
            position: relative;
            z-index: 2;
            display: flex;
            justify-content: center;
            flex-direction: column;

        }

        &__top-text {
            font-size: 16px;
            line-height: 24px;
            text-align: center
        }

        &__btns {
            justify-content: center
        }

        &__title {
            @include font-set(30px, 36px, 300);
            margin-bottom: 5px;
            margin-top: 25px;
            text-align: center;
        }

        &__img {
            width: 100%;
            max-height: 200px;
            height: auto;
            position: absolute;
            opacity: .7;
            transform: translate(30%, 50%);

            img {
                width: 100%;
                max-height: 200px;
                object-fit: contain;
            }
        }
    }

    .section1 {
        padding: 0 10px;

        .container {
            padding: 20px 0;
            flex-wrap: wrap;
        }

        &__left {
            width: 100%
        }

        &__right {
            width: 100%
        }

        &__title {
            @include font-set(20px, 26px, 300);

            br {
                display: none;
            }
        }

        &__info {
            @include font-set(16px, 24px, 400);
            margin-top: 15px;
            text-align: justify;

            &:last-of-type {
                margin-top: 10px;
                margin-bottom: 20px;
            }
        }

        &__btns {
            flex-direction: column;
            gap: 15px;
            align-items: center;

            .btn {
                letter-spacing: 0.02px;
                font-size: 13px;
            }
        }

        .watch-btn {
            width: 100%;
            margin-right: 0;
        }

        .read-btn {
            width: 100%;
            margin-bottom: 10px
        }

    }

    .collapse {
        &__title {
            @include font-set(14px, 22px, 500);
        }

        &__content {
            @include font-set(15px, 23px, 400);
            text-align: justify;
        }
    }

    .videos {
        padding: 20px 0;
    }

    .section-title {
        @include font-set(24px, 30px, 300);
    }

    .tab-buttons {
        margin-top: 15px;
        justify-content: space-between;
        gap: 5px
    }

    .tablink {
        @include font-set(13px, 15px, 400);
        letter-spacing: 0.01em;
        margin-right: 0;

        span {
            text-align: left;
        }

        img {
            width: 15px;
            object-fit: contain;
            margin-right: 5px;
        }
    }

    .tab-content {
        margin-top: 20px;
        justify-content: space-between;
        flex-direction: column;

        &__left {
            width: 100%;
        }

        &__title {
            @include font-set(22px, 26px, 400);
        }

        &__info {
            margin: 10px 0 0;
            @include font-set(14px, 24px, 400);
            text-align: justify;
        }

        &__right {
            width: 100%;
            display: flex;
            align-items: center;
            margin-top: 15px;

            img {
                width: 100%;
            }
        }
    }

    .code {
        padding: 20px 0;

        .section-title {
            margin-bottom: 20px;
        }
    }

    .left-col {
        width: 20%;
        max-width: 270px;
        min-width: 110px;

        &__title {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 15px;
        }
    }



    .vertical-tab-buttons {
        padding-left: 10px;
    }

    .vertical-tablink {
        font-size: 13px;
        line-height: 17px;
        height: 20px;
        cursor: pointer;

        &_active {
            &::before {
                left: -10px;
            }
        }
    }

    .vertical-tab-content {
        width: 100%;
        margin-top: 20px;

        img {
            width: 100%;
        }
    }

    .before-after {
        margin-top: 5px;
        font-size: 13px;

        span:nth-child(2) {
            display: none;
        }
    }

    .partners {
        .section-title {
            text-align: center;
        }
        padding: 20px 0;
        
        &__block {
            margin-top: 10px;
            gap: unset;
            justify-content: space-between;
        }
        &__item {
            margin-bottom: 10px;
            img{
                width: 160px;
                object-fit: contain;
            }
        }
    }

    .help {
        padding: 20px 0;

        .container {
            gap: 10px;
            flex-direction: column;

            .inline-btn {
                margin-bottom: 10px;
            }
        }
        .item {
            gap: 20px;
            padding: 20px;
        
            &_title {
                font-size: 16px;
                line-height: 26px;
            }
            &__img {
                img{
                    width: 40px;
                }
            }
        
            &__desc {
                @include font-set(14px, 22px, 400);
            }
        }
    }

    .discount {
        padding: 15px;
        width: 100%;
        box-sizing: border-box;

        &_info {
            @include font-set(14px, 22px, 400);
            margin: 14px 0;
        }

        &__img {
            width: fit-content;
            float: left;
            margin-top: 20px;
            img{
                width: 40px;
            }
        }

        &__title {
            margin-top: 0;
            margin-left: 20px;
            display: inline-block;
            width: 80%;
            font-size: 23px;
            line-height: 32px;

            br {
                display: none;
            }
        }
        &__bottom{
            align-items: flex-end;
        }
        .price {
            display: flex;
            flex-direction: column;
            
            span {
                margin-left: 0;
                font-size: 36px;
                line-height: 36px;
            }
        }
    }

    .slider-section {
        padding: 20px 0;

        .section-title {
            margin-bottom: 20px;
        }

    }

    .slide {
        padding-top: 210px;

        &__img {
            width: 100%;
            object-fit: cover;
            height: 200px;
        }

        &__title {
            margin-top: 15px
        }

        &__desc {
            @include font-set(14px, 22px, 400);
            padding-right: 20px;
            height: 50px;
        }

        &__btn {
            width: 100%;
            @include font-set(13px, 25px, 600);
        }
    }
    .slider-nav-block {
        right: 10px;
        width: 145px;
    }
    
    .swiper-pagination {
        width: 65px;
        @include font-set(14px, 20px, 400);
    }

    .footer {
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            button {
                position: fixed;
                bottom: 10px;
                right: 10px;
                background-color: $black_1;
                z-index: 90;
                padding: 10px;
                border-radius: 50%;

                span {
                    display: none;
                    opacity: 1;
                    margin-right: 10px;
                }
            }
        }

        &__mid {
            position: unset;
            transform: translate(0, 0);
        }
    }
}